body{
  background-image: url(fond.png);
}

#body{
  background-color: white;
  background-image: url(fond1.png);
  margin: auto;
  width: 1005px;
  min-height: 583px;
  height: 700px;
  border: 2px double red;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px grey;
}

#body .nom a{
  text-decoration: none;
}

#body h1{
  float: left;
  color: #ff1a1a;
  font-size: auto;
  height: 15px;
  width: 350px;
  margin-left:25px;
  text-shadow: 5px 5px 5px blue;
}

#body .lien img{
  max-width: 55px;
  max-height: 55px;
  width: auto;
  height: auto;
  float: left;
  margin-left: 25px;
  vertical-align: bottom;
  margin-top: 25px;
}

#body .lien img:hover{
  border: 0.5px double red;
  border-radius: 27.5px;
  background-color: red;
  -webkit-box-shadow: 0 0 6px 4px blue;
  -moz-box-shadow: 0 0 6px 4px blue;
  box-shadow: 0 0 6px 4px blue;
}

.tableau{
  width: 310px;
  height: 310px;
  margin-left: 60px;
  background-image: url(anonymous.png);
}

.tableau:hover{
  width: 310px;
  height: 310px;
  background-image: url(you.JPG);
  background-size: cover;
  background-position: left;
  border: 0.5px double red;
  border-radius: 155px;
  -webkit-box-shadow: 0 0 6px 4px blue;
  -moz-box-shadow: 0 0 6px 4px blue;
  box-shadow: 0 0 6px 4px blue;
}

.nom h3{
    margin-left: auto;
    margin-top: 55px;
    position: absolute;
    left: 250px;
}

#body .lien a{
  font-size: 11px;
  margin-top: 10px;
  text-decoration: none;
  color:black;
  display: inline-block;
}

#body .lien a:hover{
  font-weight: bold;
  color: red;
  text-shadow: 6px 6px 16px blue;
}

#contenu{
  display: inline-block;
  border-top:
  border-bottom:
}
#contenu img{
  margin-left: 20px;
  margin: 20px;
}

#contenu .description{
  width: 280px;
  height: 335px;;
  float: left;
  margin-left: 410px;
}

.vline{
  float: left;
  width: 15px;
  height: 374px;
}

.barre:{
  clear: both;
}

.barre p{
  width: 180px;
  height: 18px;
  float: left;
  margin-left: 10px;
  background-image: url(barre.png);
  background-size: cover;
  background-position: right;
}

.birth p{
  text-align: left;
  margin-left: 15px;
  float:left;
}

.birth img{

}

.barre1 p{
  width: 150px;
  float: left;
  height: 23px;
  padding-top: 4px;
  margin-left: 10px;
  background-image: url(barre.png);
  background-size: cover;
  background-position: right;
}


.barre2 p{
  width: 95px;
  float: left;
  margin-left: 10px;
  background-image: url(barre.png);
  background-size: cover;
  background-position: right;
}

.sscontenu{
  margin-left: 15px;
}

.sscontenu img{

}

.sscontenu p{
  float: right;
  padding-right: 25px;

}

#ssbody{
  background-color: white;
  background-image: url(fond1.png);
  margin: auto;
  margin-top: 10px;
  width: 1005px;
  height: 40px;
  border: 2px double blue;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px grey;
}

#ssbody img{
  float: left;
  height: 35px;
  width: 35px;
  margin-top: 4px;
  margin-left: 15px;
}

@media screen and (min-width: 0px) and (max-width: 800px)
{
  body{
    background-image: url(fond.png);
  }

  #body{
    background-color: white;
    background-image: url(fond1.png);
    margin: auto;
    width: auto;
    height: 1210px;
    border: 2px double red;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px grey;
    margin-left: 60px;
    margin-right: 60px;
  }

  #body h1{
    float: left;
    color: #ff1a1a;
    font-size: auto;
    height: auto;
    width: auto;
    margin-left:25px;
    text-shadow: 5px 5px 5px blue;
  }

  #body .lien img{
    width: auto;
    height: auto;
    max-width: 55px;
    max-height: 55px;
    float: left;
    margin-left: 25px;
    vertical-align: bottom;
    margin-top: 25px;
  }

  #body .lien img:hover{

    border: 0.5px double red;
    border-radius: 27.5px;
    background-color: red;
    -webkit-box-shadow: 0 0 6px 4px blue;
    -moz-box-shadow: 0 0 6px 4px blue;
    box-shadow: 0 0 6px 4px blue;
  }


  .nom h3{
      margin-left: auto;
      margin-top: auto;
      position: absolute;
      left: 250px;
}

#body .lien a{
  font-size: 27px;
  margin-top: 10px;
  text-decoration: none;
  color:black;
  display: inline-block;
  margin-left: 30px;
}

#body .lien a:hover{
  font-weight: bold;
  color: red;
  text-shadow: 6px 6px 16px blue;
}

.tableau{
  width: 310px;
  height: 310px;
  margin-left: 20%;
  background-image: url(anonymous.png);
}

#contenu{
  display: inline;
}

#contenu img{
  margin-left: 20px;
  margin: 20px;
}

#contenu .description{
  width: 400px;
  height: auto;
  margin-left: 60px;
  display: inline-block;
  margin-top: 300px;
}

.vline{
  display: none;
}

.barre:{
  clear: both;
}

.barre p{
  clear: both;
  width: 180px;
  height: 18px;
  float: left;
  margin-left: 10px;
  background-image: url(barre.png);
  background-size: cover;
  background-position: right;
  clear: both;
}

.birth p{
  text-align: left;
  margin-left: 15px;
  float:left;
}

.barre1 p{
  width: 150px;
  float: left;
  height: 23px;
  padding-top: 4px;
  margin-left: 10px;
  background-image: url(barre.png);
  background-size: cover;
  background-position: right;
}


.barre2 p{
  width: 95px;
  float: left;
  margin-left: 10px;
  background-image: url(barre.png);
  background-size: cover;
  background-position: right;
  margin-right: 20px;
}

.sscontenu{
  margin-left: 15px;
}

.sscontenu img{

}

.sscontenu p{
  float: right;
  padding-right: 25px;

}

#ssbody{
  background-color: white;
  background-image: url(fond1.png);
  margin: auto;
  margin-top: 10px;
  width: auto;
  height: 40px;
  margin-left: 60px;
  margin-right: 60px;
  border: 2px double blue;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px grey;
}

#ssbody img{
  float: left;
  height: 35px;
  width: 35px;
  margin-top: 4px;
  margin-left: 15px;
}

#contenu img{
  display: none;
}

img{
  margin-left: 20px;
  max-width: 500px;
  width: auto;


}
}
