body{
  background-image: url(fond.png);
}

#body{
  background-color: white;
  background-image: url(fond1.png);
  margin: auto;
  width: 1005px;
  height: 583px;
  border: 2px double red;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px grey;
}

#body .nom a{
  text-decoration: none;
}

#body h1{
  color: #ff1a1a;
  font-size: 40px;
  height: 15px;
  width: 350px;
  margin-left:25px;
  text-shadow: 5px 5px 5px blue;
}

#body p{
  margin-left: 270px;
}

#body .tableau{
  border: 3px ridge red;
  -moz-box-shadow: 0 0 6px 4px grey;
  box-shadow: 0 0 6px 4px grey;
  width: auto;
  height: auto;
  margin-left: 460px;
  margin-top: -60px;
  margin-right: 20px;
}

#body .tableau h3{
  color: blue;
  text-shadow: 5px 5px 5px red;
  margin-left: 10px;
}

#body .tableau img{
  width: 30px;
  height: auto;
}

#body .tableau img:hover{
  border: 0.5px double red;
  border-radius: 15px;
  background-color: red;
  -webkit-box-shadow: 0 0 6px 4px blue;
  -moz-box-shadow: 0 0 6px 4px blue;
  box-shadow: 0 0 6px 4px blue;
}

#body .tableau p{
  font-size: 14px;
  margin-left: 10px;
  font-weight: bold;
  color: grey;
  font-family: sans-serif;
}

#body .tableau a{
  padding-left: 15px;
}

#body .lien img{
  float: left;
  vertical-align: bottom;
  margin-left: 10px;
  margin-top: 10px;
}

#body .lien img:hover{
  border: 0.5px double red;
  border-radius: 15px;
  background-color: red;
  -webkit-box-shadow: 0 0 6px 4px blue;
  -moz-box-shadow: 0 0 6px 4px blue;
  box-shadow: 0 0 6px 4px blue;
}

#body .lien a{
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
  color:black;
  display: inline-block;
}

#body .lien a:hover{
  font-weight: bold;
  color: red;
  text-shadow: 5px 5px 5px blue;
}

#ssbody{
  background-color: white;
  background-image: url(fond1.png);
  margin: auto;
  margin-top: 10px;
  width: 1005px;
  height: 40px;
  border: 2px double blue;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px grey;
}

#ssbody img{
  float: left;
  height: 35px;
  width: 35px;
  margin-top: 4px;
  margin-left: 25px;
}

@media screen and (min-width: 0px) and (max-width: 800px)
{  body{
    background-image: url(fond.png);
  }

  #body{
    background-color: white;
    background-image: url(fond1.png);
    margin: auto;
    width: auto;
    height: auto;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px double red;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px grey;
  }

  #body .nom a{
    text-decoration: none;
    font-size: auto;
    text-align: center;
  }

  #body h1{
    text-align: center;
    color: #ff1a1a;
    font-size: auto;
    height: auto;
    width: auto;
    margin-left: auto;
    text-shadow: 5px 5px 5px blue;
  }

  #body .tableau{
    border: 3px ridge red;
    -moz-box-shadow: 0 0 6px 4px grey;
    box-shadow: 0 0 6px 4px grey;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-top:auto;
    margin-right: auto;
  }

  #body .tableau img{
    width: 30px;
    height: auto;
  }

  #body .tableau img:hover{
    border: 0.5px double red;
    border-radius: 15px;
    background-color: red;
    -webkit-box-shadow: 0 0 6px 4px blue;
    -moz-box-shadow: 0 0 6px 4px blue;
    box-shadow: 0 0 6px 4px blue;
  }

  #body .lien img{
    width: 50px;
    height: 50px;
    display: inline-block;
    align-items: center;
    margin-left: auto;
    margin-bottom: auto;
  }

  #body .lien img:hover{
    border: 0.5px double red;
    border-radius: 15px;
    background-color: red;
    -webkit-box-shadow: 0 0 6px 4px blue;
    -moz-box-shadow: 0 0 6px 4px blue;
    box-shadow: 0 0 6px 4px blue;
  }

  #body .lien a{
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
    color:black;
    display: inline-block;
    padding-bottom: 10px;
    align-items: center;
    margin-left: 45px;
  }

  #body .lien a:hover{
    font-weight: bold;
    color: red;
    text-shadow: 5px 5px 5px blue;
  }

  #ssbody{
    background-color: white;
    background-image: url(fond1.png);
    margin-top: 10px;
    height: 40px;
    border: 2px double blue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px grey;
    margin-left: 60px;
    width: auto;
    margin-right: 60px;
  }

  #ssbody img{
    float: left;
    height: 35px;
    width: 35px;
    margin-top: 4px;
    margin-left: 25px;
  }
}
